.card{
  border: 1px solid black;
  border-radius: 5px;
  min-width: 250px;
  text-align: center;
  display: flex;
  padding: 5px;
  flex:1;
  margin: 5px;
}

.card-parent{
  width: 550px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}