@keyframes anime-left-right{
    0%{
        left: 0px;
        opacity: 0;
    }
    100%{
        left: 95%;
        opacity: 1;
    }
}

#exercise-1{
    animation: anime-left-right 3s ease 1s;
    position: relative;
}

#exercise-2{
    animation: anime-left-right 2s ease 2s;
    position: relative;
    left: 95%;
}

#exercise-3 {
    animation: anime-left-right 1s ease 1s 2 alternate;
    position: relative;
}

.animation{
    animation: anime-left-right 5s;
    position: relative;
}