@keyframes anime-left-right{
    0%{
        left: 0px;
        opacity: 0;
    }
    100%{
        left: 95%;
        opacity: 1;
    }
}

@keyframes anime-right-left{
    0%{
        right: 0px;
    }
    100%{
        right: 90%;
    }
}

@keyframes anime-size{
    0%{
        transform: scale(1);
    }
    100%{
        width: 100%;
    }
}

@keyframes anime-color{
    0%{
        background-color: red;
    }
    25%{
        background-color: orange;
    }
    100%{
        background-color: yellow;
    }
}

@keyframes anime-color-mult{
    0%{
        background-color: red;
    }
    35%{
        background-color: yellow;
    }
    65%{
        background-color: blue;
    }
    100%{
        background-color: green;
    }
}

#exercise-1{
    animation: anime-left-right 3s ease 1s;
    position: relative;
}

#exercise-2{
    animation: anime-left-right 2s ease 2s;
    position: relative;
    left: 95%;
}

#exercise-3 {
    animation: anime-left-right 1s ease 1s 2 alternate;
    position: relative;
}

.animation{
    animation: anime-left-right 5s;
    position: relative;
}

.animation2{
    animation: anime-right-left 5s;
    position: relative;
}

#exercise-7{
    animation: anime-size 5s ease 0s infinite alternate;
}

#exercise-8{
    animation: anime-color 4s;
}

#exercise-9{
    animation: anime-color-mult 4s ease 0s infinite alternate;
}