
.main {
  border: 8px solid white;
  box-shadow: 1px 1px 3px black;
  margin: auto;
  margin-top: 20px;
  min-height: 300px;
  padding: 10px;
  width: 650px;
}

h2 {
  margin-top: 0px;
  text-align: center;
}

span {
  display: block;
  font-weight: 900;
  margin-bottom: 5px;
  margin-right: 10px;
}

span.note {
  color: red;
  display: inline;
  font-size: 12px;
  margin-left: 10px;
  font-style: italic;
  font-weight: 200;
}

input[type=text] {
  margin-bottom: 20px;
}

input[type=radio] {
    margin-left: 25px;
  }

select {
  background-color: white;
  margin-left: 30px;
  width: 100px;
}

fieldset {
  margin-bottom: 20px;
}

textarea {
  resize: none;
  width: 610px;
}
